import router from "../router";

<template>
    <div class="signup">
      <nav class="navbar" style="background-color: #b3dfff;">
                <div class="col-1 navbar-brand" @click="$router.go(-1)">
                   <i class="fas fa-long-arrow-alt-left"></i>
                </div>
   </nav>
 <div class="container">
    <div class="form">
    <p>ユーザー情報の入力</p>
     <div>   
    </div>
  </div>
    <input class="form-control" type="email" placeholder="Email" v-model="email">
    <p align="left" class="pw_input">6文字以上の半角英数字</p>
    <input class="form-control" type="password" placeholder="Password" v-model="password">
    <p v-show="error_username_message" id="error">ユーサー名を入力してください</p>
     <p v-if="error_username" id="error">このユーサー名はすでに使われています</p>
     <p v-else class="input_signup">ユーザー名を入力してください</p>
      <div class="icon_name">
       <span class="file_img_signin" v-if="imageData != ''">
        <img class="icon_img" :src="imageData">
       </span>
       <input type="text" class="form-control" placeholder="ユーザーネーム" v-model="username" @change="input_username">
    </div>
      <div class="file_show_login">
     <label for="file" class="file-btn">
     <i class="far fa-file"></i>
     <span class="icon_change">アイコンの変更</span>
    <input @change="selectedFile" type="file" id="file" />
   </label>
    </div>
     <p v-if="error_message" id="error"> 建物名を入力してください</p>
     <p v-else class="input_signup">建物名を入力してください</p>
     <input type="text" class="form-control" v-model="buildname"  placeholder="建物の名前" @change="input_buildname">
  <!-- <form @submit.prevent="addfloor">
    <p class="input_signup">階数を入力し追加をクリック</p>
     <div>
      <input class="form-control" id="add-floor" type="number" v-model="floor" placeholder="何階" minlength="1" maxlength="2">
     <b-button class="add_button" type="submit" style="background-color: #b3dfff;" >追加</b-button>
     </div>
    </form>
     <div class="Floor_input">
       <hr>
       <li class="floor_input" v-for="(floorNo, index) in floors">
        <span>{{ floorNo }}階</span><span class="deletefloor" @click="deletefloor(index)">[x]</span>
      </li>
     </div> -->
     <!-- <div class="code_input"> 
        <p v-if="code">この{{ buildname }}招待コードは
      <span class="code">{{ code }}</span>です</p> 
       <p v-if="code" class="code-desc">※寮生を招待する際に必要になります。</p> 
      <b-button  @click="addcode" style="background-color: #b3dfff;">招待コードを作成する</b-button>    
    </div> -->
     <!-- <div class="code_input"> 
       
      <span class="code">{{ code }}</span>です</p> 
       <p v-if="code" class="code-desc">※寮生を招待する際に必要になります。</p> 
        
    </div> -->
    </div>
      <b-button variant="primary" @click="signUp">登録</b-button> 
      <p>
      <router-link to="/signin">sign in now</router-link>
      </p>
    </div>
</template>

<script>
import firebase from "firebase";
// import Multiselect from 'vue-multiselect'
var files;
var Filesname;
var All_user_array = [];
var Icon_image;
var Image;
export default{
    name: "AdminSignup",
    data(){
        return {
            username:"",
            error_username:false,
            error_message:false,
            error_username_message:false,
            email: "",
            password: "",
            buildname:"",
            floor:'',
            floors: [],
            code:'',
            imageData:''
        };
    },
    created: function() {
    this.database = firebase.database();
    this.Ryoinfo = this.database.ref('ryo/ryoinfo/');
    var self = this;
    var storageRef = firebase.storage().ref();
    var uploadRef = storageRef.child('スクリーンショット 2019-03-22 23.07.33.png');  
    var self = this;
    uploadRef.getDownloadURL().then((url) => {
    self.imageData = url;
    Image = url;
　   });
    var str = "abcdefghjkmnpqrstuvwxyz123456789";
     var len = 8;
    //ランダムな文字列の生成
    var result = "";
    for(var i=0;i<len;i++){
    result += str.charAt(Math.floor(Math.random() * str.length));
    }
    this.code = result;
  //  var date = new Date();
  //   var options = { month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'};
  //   var tododate = date.toLocaleDateString('ja-JP-u-ca-japanese', options);
  //  var current = new Date();
  //  this.day = current.getDate();
  //  this.month = current.getMonth() + 1;
  //  var code = this.$localStorage.get('code')
  // //  var start = this.$localStorage.get('start')
  // //  var end = this.$localStorage.get('end')
  // //  var uid = this.uid;
  // //  var title = this.title;
  // //  var detail = this.detail;
  // // //  var who = this.who;
  // //  var day = this.day;
  // // //  全体への連絡の場合
  //  this.todosRef = this.database.ref('todos/');
  //  this.todosRef.push({
  //       user:uid,  
  //       tododate: tododate,
  //       title: 'ようこそ寮母さんへ',
  //       detail:'ようこそ寮母さんへ',
  //       day: day,
  //       month:this.month,
  //       username:'寮母管理者へ',　
  //       notRead:all_User,
  //       code:code,
  //       readuser:'',
  //       start:start,
  //       end:end,
  //       filename:filesname,
  //       image:Image,
  //     });
  // var ary = this.name.split(',');
  // this.messageRef = this.database.ref('message/');
  // for(var i = 0; i  < ary.length; i++){
  //  this.messageRef.push({
  //       user:this.uid,    
  //       tododate: tododate,
  //       title: this.title,
  //       detail:this.detail,
  //       day: this.day,
  //       month:this.month,
  //       username:UserNm,　
  //       code:code,
  //       start:start,
  //       end:end,
  //       filename:filesname,
  //       image:Image,
  //       name:ary[i],
  //     });
  //  }
   
　  },
methods: {
  selectedFile: function(e){
      e.preventDefault();
      files = e.target.files[0];
      Filesname = files.name;
      var storageRef = firebase.storage().ref();
      var uploadRef = storageRef.child(files.name);
     uploadRef.put(files).then(function(snapshot) {
       alert('アップロードできました'); 
    })
    var self = this;
    var file = e.target.files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
      self.imageData = e.target.result;
     };
    reader.readAsDataURL(file);
    },
    addcode:function(){
     var str = "abcdefghjkmnpqrstuvwxyz123456789";
     var len = 8;
    //ランダムな文字列の生成
    var result = "";
    for(var i=0;i<len;i++){
    result += str.charAt(Math.floor(Math.random() * str.length));
    }
    this.code = result;
   },
   input_username:function(){
      this.error_username_message = false;
   },
   input_buildname:function(){
      this.error_message = false;
   },
    signUp: function () {
      if(this.username == ''){
        this.error_username_message = true;
        return;
      }
      if(this.buildname == ''){
        this.error_message = true;
        return;
      }
      firebase.database().ref('ryo/userinfo/').on('value',function(snapshot) {
      var item =  snapshot.val(); 
      for(var i in item){
        All_user_array.push(item[i].username);
      }
      });
      var username = this.username;
     for(var i in All_user_array){
       if(username == All_user_array[i]){
         this.error_username = true;
         return;
       }  
     }
      firebase.auth().createUserAndRetrieveDataWithEmailAndPassword(
          this.email,
          this.password
      ).then( user => {
      // this.Ryoinfo = this.database.ref('ryo/ryoinfo/' + user.user.uid + '/');
      this.Ryoinfo = this.database.ref('ryo/ryoinfo');
      this.Ryoinfo.push({
            username:this.username,
            buildname:this.buildname,
            code:this.code,
            floors:this.floors,
      });
      this.Userinfo = this.database.ref('ryo/userinfo/' + user.user.uid + '/');
      if(Filesname == null){
               Filesname = 'スクリーンショット 2019-03-22 23.07.33.png';
         }
      this.Userinfo.set({
          admin:true,
          username:this.username,
          code:this.code,
          filesname:Filesname
      });
   var date = new Date();
  var options = { month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'};
   var tododate = date.toLocaleDateString('ja-JP-u-ca-japanese', options);
   var current = new Date();
   this.day = current.getDate();
   this.month = current.getMonth() + 1;
   var day = this.day;
   var code = this.code;
   this.todosRef = this.database.ref('todos/');
   this.todosRef.push({ 
        tododate: tododate,
        user:123,  
        title: 'ようこそ寮母さんへ',
        detail:'寮母さんは、あなたの寮管理を簡単にしてくれるアプリです',
        day: day,
        month:this.month,
        username:'寮母管理者',　
        code:code,
      });
  this.messageRef = this.database.ref('message/');
   this.messageRef.push({
        tododate: tododate,
        user:123,
        title: 'ようこそ寮母さんへ',
        detail:'あなたへの連絡はこちらに表示されます',
        day: day,
        month:this.month,
        username:'寮母管理者',　
        code:code,
        name:this.username,
      }); 
      alert("アカウントが作成されました！");
      this.$router.push('*');
      })
      .catch(error => {
          alert(error.message);
      });
//  updateSelected (newSelected) {
// this.selected = newSelected
}}};
    //    addfloor:function(){
    //   for(var i = 0; i < this.floors.length; i++){
    //     if(this.floor == this.floors[i]){
    //     return;
    //     }
    //   }
    //   if(this.floor == ''){
    //     return;
    //   }
    //   this.floors.push(this.floor);
    //   this.floor ='';
    // },
    // deletefloor:function(index){
    //   this.floors.splice(index,1);  
    // },
</script>  
<style>
.file_show_login > label{
  /* display: inline-block; */
  font-size:10px; 
}
#signin{
  margin:30px;
}
p{
  margin-top:30px;
}
.input_signup{
  margin-bottom:0;
  text-align: left;
}
.pw_input{
  font-size:10px;
  margin-bottom:0;
}
#add-floor{
  /* position: relative; */
  width: 60%;
  display: inline-block;
}
.add_button{
  float: right;
  display: inline-block;
  width: 30%;
  color: black;
  /* position: absolute;
  top: 1px; */
}
.deletefloor{
  font-size: 5px;
}
.floor_input{
  display: inline;
  margin-right: 0.5em;
  float: left;
}
.Floor_input{
  padding: 0.95em;
}
.code_input{
  margin-top: 6em;
}
.code-desc{
  font-size: 5px;
  color:crimson;
}
.icon_change{
  margin-left:2px; 
}
</style>