<template>
  <div class="task">
    <nav class="navbar" style="background-color: #b3dfff;" >
                <div class="col-1 navbar-brand " @click="$router.go(-1)">
                  <i class="fas fa-long-arrow-alt-left"></i>
                </div>
   </nav>
   <div class="container">
      <!-- <div class="confirm_who" v-show="who">
      <p  align="left"> To:{{ who }}階</p> 
      <hr>
   </div> -->
      <div class="confirm_who" v-show="name">
      <p  align="left"> To:{{ name }}</p> 
      <hr>
   </div>
     <div class="title">
     <p  align="left">{{ title }}</p> 
     <hr>
     </div>
     <div v-if="start" class="start">
     <p align="left">スタート：{{ start }}</p> 
     <p align="left">終わり：{{ end }}</p> 
     <hr>
     </div>
      <div class="Detail_detail">
      <p align="left" style="white-space: pre-line;"> {{ detail }}</p>  
     </div>
     <div v-if="image_url != ''">
       <img :src="image_url" id="new_img">
       </div> 
      <div class="createbutton" v-on:click="createTodo()">
      <span style="font-size: 2em; color:deepskyblue ;">
      <i class="fab fa-pushed"></i>
      <span class="icon-content">送信</span>
      </span>
   </div>
   </div>
   </div>
</template>
<script>
import firebase,{ firestore } from "firebase";
var all_User = [];
var UserNm;
var Image;
var Icon_image;
var image_name;
export default {
  name: "Confirm",
  data(){
  return {
    title: '',
    who: [],
    detail: '',
    start: '',
    end:'',
    image_url:''
   }
 },
 created: function() {
   all_User = [];
   this.title = this.$localStorage.get('title')
   this.detail = this.$localStorage.get('detail')
   this.start = this.$localStorage.get('start')
   this.end = this.$localStorage.get('end')
   this.name = this.$localStorage.get('name')
   this.database = firebase.database();
   this.uid = firebase.auth().currentUser.uid;
   firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val();
      // ユーザーの寮コードを取得
　　　 var syoutaicode = item.code; 
      UserNm = item.username;       
      Icon_image = item.filesname;           
    firebase.database().ref('ryo/userinfo').orderByChild('code').startAt(syoutaicode).endAt(syoutaicode).on('value',function(snapshot) {
    //  寮全員を取得してall_Userに格納
         var matchUser = snapshot.val();  
         for(var i in matchUser){
           all_User.push(matchUser[i].username);
         }
        //  UserNmはログイン中のユーザーネーム
         var val = UserNm;
　       var idx = all_User.indexOf(val); 
　       if(idx >= 0){
　        all_User.splice(idx, 1); 
　       }
      });
    })
　 
  image_name = this.$localStorage.get('filesname')
  // 添付する画像を表示する
  var storageRef = firebase.storage().ref();
  var uploadRef = storageRef.child(image_name);
  var self = this;
  uploadRef.getDownloadURL().then((url) => {
   self.image_url = url;
　 });
},
 methods: {
   createTodo: function() {
   var storageRef = firebase.storage().ref();
   firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val(); 
      // 画像のファイル名を取得      
      Icon_image = item.filesname;
   });
   var uploadRef = storageRef.child(Icon_image);
   uploadRef.getDownloadURL().then((url) => {
    //  firestoreからURLを取得
    Image = url;
    })
   .catch(error => {
     Image = Icon_image;
   });
   var date = new Date();
    var options = { month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'};
    var tododate = date.toLocaleDateString('ja-JP-u-ca-japanese', options);
   var current = new Date();
   this.day = current.getDate();
   this.month = current.getMonth() + 1;
   var code = this.$localStorage.get('code')
   var start = this.$localStorage.get('start')
   var end = this.$localStorage.get('end')
   var uid = this.uid;
   var title = this.title;
   var detail = this.detail;
  //  var who = this.who;
   var day = this.day;
  //  全体への連絡の場合
   var name = this.$localStorage.get('name')
   if(this.name == null){
   this.todosRef = this.database.ref('todos/');
   this.todosRef.push({
        user:uid,  
        tododate: tododate,
        title: title,
        detail:detail,
        day: day,
        month:this.month,
        username:UserNm,　
        notRead:all_User,
        code:code,
        readuser:'',
        start:start,
        end:end,
        filename:image_name,
        image:Image,
      });
   }else{
  var ary = this.name.split(',');
  this.messageRef = this.database.ref('message/');
  for(var i = 0; i  < ary.length; i++){
   this.messageRef.push({
        user:this.uid,    
        tododate: tododate,
        title: this.title,
        detail:this.detail,
        day: this.day,
        month:this.month,
        username:UserNm,　
        code:code,
        start:start,
        end:end,
        filename:image_name,
        image:Image,
        name:ary[i],
        notRead:ary[i],
      });
   }
   }
    this.$localStorage.remove('filesname');
      this.$router.push("/");
    }
}
};
</script>

<style>
.confirm_who{
 font-size: 15px;
}
.createbutton{
  float:right;
  margin-right: 50px;
}
</style>
