<template>
  <div class="task">
    <nav class="navbar" >
      <div class="col-1 navbar-brand" @click="$router.go(-1)">
          <i class="fas fa-long-arrow-alt-left"></i>
      </div>
    <div v-if="mytodo" class="delete" @click="deleteTodo()">
       <span style="font-size: 1.5em;">
      <i class="far fa-trash-alt"></i>
      </span>
   </div>
   </nav>
<div class="container">
    <div class="detail">
      <div class="confirm_who">
      <p v-if="mytodo" align="left"> あなたの連絡です</p> 
      <p v-else align="left"> FROM:{{ username }}</p> 
      <hr>
   </div>
      <div class="title">
     <p  align="left">{{ title }}</p> 
     <hr>
     </div>
  <div class="start" v-show="start">
     <p align="left">スタート：{{ start }}</p> 
     <p align="left">終わり：{{ end }}</p> 
     <hr>
     </div>
      <div id="file_img" class="file_img_new" v-if="image_url != ''">
        <img id="new_img" :src="image_url" >
         <hr>
  </div>
   <div class="Detail_detail"> 
     <p align="left" style="white-space: pre-line;"> {{ detail }}</p>
     </div>
   <div class="edit" v-if="mytodo" v-on:click="editTodo">
    <span style="font-size: 2em;">
      <i class="far fa-edit"></i>
      <span class="icon-content">編集する</span>
      </span>
   </div>
  </div> 
  </div> 
</div> 
</template>
<script>
import firebase from "firebase"; 
var userid;
var Scode;
var login_user;
var toukou_user;
var Notread = [];
var not_readuser = [];
var filesname;
export default {
  name: "DetailTask",
  data(){
  return {
    title: '',
    detail: '',
    image_url:'',
    mytodo:'',
    start:''
   }
 },
 created: function() {
   not_readuser = [];
   this.database = firebase.database();
   this.uid = firebase.auth().currentUser.uid;
   this.todo = this.$router.currentRoute.params.todo;
   var todo = this.database.ref('todos/' + this.todo);
   todo.on("value", (snapshot) => {
     this.title = snapshot.val().title; 
     this.detail = snapshot.val().detail; 
     this.username = snapshot.val().username; 
     this.start = snapshot.val().start; 
     this.end = snapshot.val().end;
     filesname = snapshot.val().filename; 
     userid = snapshot.val().user;
     Notread = snapshot.val().notRead;
     });
    //  var filesname = this.$localStorage.get('filesname')
   var storageRef = firebase.storage().ref();
   var uploadRef = storageRef.child(filesname);
  var self = this;
   uploadRef.getDownloadURL().then((url) => {
    self.image_url = url;
   });
  //  ログインしているユーザーの情報を取得
   this.database.ref('ryo/userinfo/' + this.uid ).once('value',function(snapshot) {
      var item =  snapshot.val();   
      login_user = item.username; 
  })
  // /  自分の投稿なら
   if(userid == this.uid){
     this.mytodo = true;
     return;
  //  自分の投稿ではないならnotReadから名前を取り、readuserに名前を入れる
   }else{
    this.mytodo = false;
    for(var i in Notread){
      console.log(Notread[i]);
    }
    not_readuser.push(Notread[i]);
    console.log(not_readuser);
    var val = login_user;
　  var idx = not_readuser.indexOf(val);
　  if(idx >= 0){
　    not_readuser.splice(idx, 1); 
　  } 
　  todo.child("notRead").set(not_readuser);
    var date = new Date();
    var options = { month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'};
    var tododate = date.toLocaleDateString('ja-JP-u-ca-japanese', options);
    var obj = {};
    obj[login_user] = tododate;
    // 初めて開いた時の処理
    todo.child("readuser").update(obj);
}
 },
 methods:{
    deleteTodo: function() {
      window.navigator.notification.confirm(
      '削除してもよろしいですか？',
    function(buttonIndex) {
    console.log('押下したボタンの Index (1 から始まるので注意) : ' + buttonIndex);
    if(buttonIndex === 1) {
      console.log('オッケー ボタンが押されました');
        this.todosRef.remove();
        this.$router.push("/");
    }
    else if(buttonIndex === 2) {
      console.log('ダメー ボタンが押されました');
      this.$router.push("todos/'" + this.todo);
    }
  },
  '削除',
  ['オッケー', 'ダメー']
);
       
    },
   editTodo:function(){
     this.$router.push('/edit/' + this.todo);
   }
 }
};
</script>

<style>
.edit{
  float:right;
  margin-right: 30px;
}

</style>
