<template>
  <div class="task">
        <nav class="navbar" style="background-color: #b3dfff;" @click="$router.go(-1)">
                <div class="col-1 navbar-brand ">
                    <i class="fas fa-times"></i>
                </div>
   </nav>
  <div class="container"> 
   <div class="who_input">
     <span id="error" class="error_who" v-show="error_who">選択してください</span>
     <span v-for="name in ryoinfo">
       <span class="who_label"> To：<input type="checkbox" :checked="Select_All" @click="all_who"><span>ALL</span></span> 
       <span v-for="floor in name.floors"> 
          <li class="floor_new_input">
            <input type="checkbox" v-model="who" :value="floor" @change="input_who"><span>{{ floor }}階</span>
          </li>
       </span>
      </span>
   </div>  
   <div>
 </div>
      <div class="title">
      <label for="title"></label>
      <input type="text" v-model="title" class="form-control" id="title" placeholder="タイトル">
     </div>    
     <label for="Textarea">内容</label>
    <textarea name="detail" v-model="detail" class="form-control" id="Textarea1" rows="5"></textarea>
  </div>
  <div class="editbutton" v-on:click="editTodo()">
      <span style="font-size: 2em; color:deepskyblue;">
      <i class="fab fa-pushed"></i>
      <span class="icon-content">編集完了</span>
      </span>
   </div>
</div>
</template>
<script>
import firebase from "firebase";
var Scode;
var floor_array;
var f_array = [];
export default {
  name: "DetailTask",
  data(){
  return {
    title: '',
    detail: '',
    floor:[],
    who: [],
    error_who:false,
    Select_All:false
   }
 },
 created: function() {
   this.database = firebase.database();
   this.uid = firebase.auth().currentUser.uid;
   this.todo = this.$router.currentRoute.params.todo;
   this.todosRef = this.database.ref('todos/' + this.todo);
   var _this = this;
   firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val();
      Scode = item.code;                                     
    })
   firebase.database().ref('ryo/ryoinfo').orderByChild('code').startAt(Scode).endAt(Scode).on('value',function(snapshot) {
         var ryoinfo = snapshot.val();     
         _this.ryoinfo = ryoinfo;
    });
   this.todosRef.on("value", (snapshot) => {
     this.title = snapshot.val().title; 
     this.detail = snapshot.val().detail; 
   });
 
 },
 methods: {
    all_who:function(){
      if(this.Select_All){
        this.Select_All = false;
        this.who = [];
      }else{
        // 選択された時
        this.Select_All = true;
        firebase.database().ref('ryo/ryoinfo').orderByChild('code').startAt(Scode).endAt(Scode).on('value',function(snapshot) {
         var ryoinfo = snapshot.val();     
         for(var i in ryoinfo){
            var ryou = ryoinfo[i];
            floor_array = ryou.floors;
         }
    });
      this.who = floor_array;  
      }
      },
      input_who:function(){
      this.error_who = false;
    },
    editTodo: function() {
      this.todosRef.update({
        title: this.title,
        detail:this.detail,
        who:this.who,
          });  
　   this.$router.push("/"); 
   }
 }
  
};
</script>

<style>
</style>
