<template>
  <div class="task">
  <nav class="navbar" style="background-color: #b3dfff;">
  <router-link to="/">      
                <div class="col-1 navbar-brand ">
                    <i class="fas fa-times"></i>
                </div>
    </router-link>
   </nav>
    <div class="container">
     <h3>外泊届</h3>
    <form class="form">  
      <div class="form-group">
      <div class="date"> 
      <div class="start">
       <label for="start">何日から？</label>
      <input type="date" v-model="date1" id="start" class="form-control">
      </div>
      <div class="end">
     <label for="end">何日まで？</label>                
      <input type="date" v-model="date2" id="end" class="form-control">
    </div>
     </div></div>     
     <div class="place">
       <label for="place"></label>
      <input type="text" v-model="place" class="form-control" id="place" placeholder="場所">
     </div>      
     <div class="telNo">
       <label for="telNo">緊急連絡先</label>
       <span><input type="text" v-model="name" class="form-control"  placeholder="お名前">
      <input type="text" v-model="tel" class="form-control" id="telNo" placeholder="電話番号を入力してください"></span>
     </div>      
      <label for="Textarea">寮母さんへのメッセージ</label>
    <textarea name="detail" v-model="message" class="form-control" id="Textarea" rows="5"></textarea> 
  </form>
    </div>
    <div class="createbutton" v-on:click="pushgaihaku()">
      <span style="font-size: 2em; color:deepskyblue ;">
      <i class="far fa-share-square"></i>
      <span class="icon-content">送信</span>
      </span>
   </div>
    
</div>

</template>
<script>
import firebase from "firebase";
 var Scode;
 var Username;
export default {
  name: "Gaihaku",
  data() {
    return {
      database: null,
      place: "",
      date1:"",
      date2:'',
      name:'',
      tel:'',
      message:'',
      };
  },
  created: function() {
    this.database = firebase.database();
    this.uid = firebase.auth().currentUser.uid;
    var _this = this;
    firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val();
      Scode = item.code;                                     
      Username = item.username;                                     
    })
  },
  methods: {
    pushgaihaku: function() {
      if(this.date1 >= this.date2){
        return ;
      }
      this.todosRef = this.database.ref('gaihaku/');
      this.todosRef.push({
        place: this.place,
        code:Scode,
        start: this.date1,
        end: this.date2,
        username: Username,
        name:this.name,
        tel:this.tel,
        message:this.message,
      });
      this.place = "";
      this.start = "";
      this.end = "";
      this.day = "";
      this.username = "";
      this.tel = "";
      this.massage = "";
      this.$router.push("/");
    }
    }
    }

</script>

<style>
.container{
  margin: 10px;
}
#data_input{
 border: solid 3px #6091d3;
 border-radius: 10px;
 background: #cde4ff;
}
.form{
 margin: 20px;
}
</style>