import router from "../router";

<template>
  <div>
<nav class="navbar" style="background-color: #b3dfff;" @click="$router.go(-1)">
                <div class="col-1 navbar-brand ">
                    <i class="fas fa-times"></i>
                </div>
   </nav>
   <full-calendar :events="events" :config="config"/></full-calendar>

 </div>
</template>

<script>
import firebase from "firebase";
import { FullCalendar } from 'vue-full-calendar'
import 'fullcalendar/dist/fullcalendar.css'
import 'fullcalendar/dist/locale/ja'
var Scode;
var ev_username;
var ev_start;
var ev_end;
var event_array = [];
export default {
  components: {
    FullCalendar,
  },
  data() {
    return {
      events: [],
      config: {
        height: 600,
         },
    }
  },
  created: function() {
    var event_array = [];
    this.database = firebase.database();
    this.uid = firebase.auth().currentUser.uid;
    var _this = this;
    // ユーザーの招待コードを取得してScode
    firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val();
      Scode = item.code;                         
    })
    // 招待コードを一致する連絡を取得
   firebase.database().ref('gaihaku').orderByChild('code').startAt(Scode).endAt(Scode).on('value',function(snapshot) {
         var ev_todos = snapshot.val();
         for(var i in ev_todos){
             ev_username = ev_todos[i].username;
             ev_start = ev_todos[i].start;
             ev_end = ev_todos[i].end;
             event_array.push({
                  title :ev_username,    
                  start :ev_start,
                  end :ev_end,
      });
         }      
    });
    for(var i = 0; i < event_array.length; i++){
      this.events.push({
           title  : event_array[i].title,
           start  : event_array[i].start,
           end: event_array[i].end,
      });
    }
},
}
</script>  
<style>

</style>