import router from "../router";

<template>
    <div class="adminform">
        <nav class="navbar" style="background-color: #b3dfff;" >
                <div class="col-1 navbar-brand " @click="$router.go(-1)">
                  <i class="fas fa-long-arrow-alt-left"></i>
                </div>
   </nav>
　 <div class="container">
     <p v-for="item in ryo">ようこそ！{{ item.buildname }}へ</p> 
     <div>   
    <input class="form-control" type="email" placeholder="Email" v-model="email">
    <p align="left" class="pw_input">6文字以上の半角英数字</p>
    <input class="form-control" type="password" placeholder="Password" v-model="password">
     <p class="input_signup">ユーザー名を入力してください</p>
      <div class="icon_name">
       <span class="file_img_signin" v-if="imageData != ''">
        <img class="icon_img" :src="imageData">
       </span>
       <input type="text" class="form-control" placeholder="ユーザーネーム" v-model="username">
    </div>
 <div class="file_button">
<label for="file" class="file-btn">
    アイコン画像を設定しよう
    <input @change="selectedFile" type="file" id="file" />
</label>
 </div>
<p class="input_signup">所属コース名を入力してください</p>
<input type="text" class="form-control" v-model="courseNm"  id="courseNm" placeholder="コース名"> 
     <!-- <p class="input_signup">部屋番号と階を入力してください </p>
     <div class="Floor_input">
       <input type="number" class="form-control" id="floor" v-model="floor" placeholder="○階" min="0" minlength="1" maxlength="2">
     <input type="number" class="form-control" min="0" id="roomNo" v-model="roomNo"  placeholder="○○○号室">
     </div> --> 
      <p class="input_signup">電話番号</p>
      <input type="number" v-model="telNo"  class="form-control" id="telNo" placeholder="電話番号" max="11">  
       </div>
     <b-button class="button_signup" variant="primary" @click="signUp">登録</b-button>
    </div>
    </div>
</template>

<script>
// Vue.component('list-title',{
//   templete:'<h1>フルーツ</h1>'
// })
import firebase from "firebase";
var Syoutai = [];
var files;
var Filesname;
var FB_Filesname;
export default{
    name: "MenberSignup",
    data(){
        return {
            error:false,
            errormessage:"招待コードが違うようです",
            code:'',
            ryo:'',
            email: "",
            password: '',
            username:'',
            floor:'',
            roomNo:'',
            courseNm:'',
            telNo:'',
            imageData:''
        };
    },
    created: function() {
    this.database = firebase.database();
    this.Userinfo = this.database.ref('ryo/userinfo/');
    firebase.auth().onAuthStateChanged(user => {
      if(user){
        this.user = user;
        // console.log(user);
        this.username = user.displayName;
        var self = this;
        self.imageData = user.photoURL;
        Filesname = user.photoURL;
        this.email = user.email;
      }else{
        this.user = {};
      }
    })
    var self = this;
    var storageRef = firebase.storage().ref();
    var uploadRef = storageRef.child('スクリーンショット 2019-03-22 23.07.33.png');
    var self = this;
    uploadRef.getDownloadURL().then((url) => {
    self.imageData = url;
　   });
    　  },
　  methods: {
    selectedFile: function(e){
      e.preventDefault();
      files = e.target.files[0];
      Filesname = files.name;
      var storageRef = firebase.storage().ref();
      var uploadRef = storageRef.child(files.name);
     uploadRef.put(files).then(function(snapshot) {
       alert('アップロードできました'); 
    })
    var self = this;
    var file = e.target.files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
      self.imageData = e.target.result;
     };
    reader.readAsDataURL(file);
    },  
      addmenber:function(){
       for(var i = 0; i < Syoutai.length; i++){
       if(Syoutai[i] == this.code){
          this.error = false;  
          this.matchcode = true;
          var _this = this;
         firebase.database().ref('ryo/ryoinfo').orderByChild('code').startAt(this.code).endAt(this.code).on('value',function(snapshot) {
         var ryo = snapshot.val();
         _this.ryo = ryo;
        });
         }else{
　         this.error = true; 
         }
     }
      },
       signUp: function () {
           if(this.username == ''){
                alert("ユーザー名が未入力です");
                return;
            }  
            if(this.telNo == ''){
                alert("電話番号が未入力です");
                return;
            }
           firebase.auth().createUserAndRetrieveDataWithEmailAndPassword(
               this.email,
               this.password
            ).then( user => { 
            this.Userinfo = this.database.ref('ryo/userinfo/' + user.user.uid + '/');
            var syoutaicode = this.$localStorage.get('code')
            if(Filesname == null){
               Filesname = 'スクリーンショット 2019-03-22 23.07.33.png';
             }      
            this.Userinfo.set({
                admin:false,
                username:this.username,
                // floor:this.floor,
                // roomNo:this.roomNo,
                courseNm:this.courseNm,
                telNo:this.telNo,
                code:syoutaicode,
                filesname:Filesname,
            });
    var date = new Date();
   var options = { month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'};
   var tododate = date.toLocaleDateString('ja-JP-u-ca-japanese', options);
   var current = new Date();
   this.day = current.getDate();
   this.month = current.getMonth() + 1;
   var day = this.day;
  this.messageRef = this.database.ref('message/');
   this.messageRef.push({
        tododate: tododate,
        title: 'ようこそ寮母さんへ',
         user:123,
        detail:'あなたへの連絡はこちらに表示されます',
        day: day,
        month:this.month,
        username:'寮母管理人',　
        code:syoutaicode,
        name:this.username,
      }); 
  
            alert("アカウントが作成されました！");
            this.$router.push('*');
            })
            .catch(error => {
                alert(error.message);
            });
       }
       }
};

</script>  
<style>
.code{
    margin-top:40px;
}
#signin{
  margin:30px;
}
.email-form{
  margin:30px;
}
.icon_name{
    display: flex;
}
p{
  margin-top:30px;
  margin-bottom:0;
}
/* .number_input{
    width:50px;
} */
.error{
    color: crimson;
}
.number_input{
display: inline-block;
width:50px;
}
#floor{
 display: inline-block;
 width: 30%;
 margin-right: 10%;
}
#roomNo{
 width: 40%;
 display: inline-block;
}
.Floor_input{
  margin: auto;
}
.button_signup{
    margin-top: 1em;
}
.icon_img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.file-btn {
    margin-top:10px; 
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    color:black;
    cursor: pointer;
}
.file-btn input{
    display: none;
}
.file_img_signin{
  width: 20%;
}
</style>