  <template>
  <div class="task">
    <nav class="navbar">
   <router-link to="/">      
                <div class="col-1 navbar-brand ">
                    <i class="fas fa-times"></i>
                </div>
   </router-link>
    <!-- <span　class="icon-content">メッセージ作成</span> -->
   </nav>
  <div class="col-10 navbar-brand ">
     <input class="search" type="text" v-model="keyword" placeholder="検索...">
  </div>
 <div class="container">
  <ul class="list_inner col-xs-12" v-for="user in searchitem">  
  <li class="todolist">
     <!-- <img v-if="user.image" id="user-icon" class="icon_img" :src="user.image"> -->
     <div class="username">
        <input type="checkbox" v-model="name" :value="user" >
        {{ user }}
      </div>       
     </li>
      <hr>  
    </ul>    
    </div>  
   <div class="new_task_member"  @click="message_ryousei">
    <i class="fas fa-pen-square"></i>
  </div>
</div>

</template>
<script>
import firebase from "firebase";
// var ryo_all_user = [];
export default {
  name: "DetailTask",
  data(){
  return {
    keyword:'',
    matchtodos:[],
    name:[]
   }
 },
 created: function() {
   this.database = firebase.database();
   this.uid = firebase.auth().currentUser.uid;
   
 },
 computed:{
     searchitem:function(){
       var items = []; 
       var ryo_all_user = [];
       var all_User = [];
       var UserNm;
    firebase.database().ref('ryo/userinfo/' + this.uid ).once('value',function(snapshot) {
      var item =  snapshot.val();   
      UserNm = item.username; 
    // userinfoに入っているusernameをUsername
      var Scode = item.code;  
    // 招待コードを一致する連絡を取得
    firebase.database().ref('ryo/userinfo').orderByChild('code').startAt(Scode).endAt(Scode).on('value',function(snapshot) {
       ryo_all_user = snapshot.val(); 
    });
   })
    for(var i in ryo_all_user){
           all_User.push(ryo_all_user[i].username);
         }
         var val = UserNm;
　       var idx = all_User.indexOf(val); 
　       if(idx >= 0){
　        all_User.splice(idx, 1); 
　       }
         for(var i in all_User){
         if(all_User[i].indexOf(this.keyword) !== -1 ) {
               items.push(all_User[i]);
         }
       }
       return items;
     }
     },
 methods: {
   message_ryousei:function(){
     if(this.name == ''){
       return;
     }
     this.$localStorage.set('name', this.name);
     this.$router.push("/newtask");  
   }
 },
};
</script>

<style>
.search{
  border: solid skyblue;
  width: 100%;
  position: relative;
}
.new_task_member{
 font-size: 3.5em;
 color: cornflowerblue;
 z-index: 10px;
 position: absolute;
 top: 8em;
 right: 1em;
 border-radius:50%; 
}

</style>
