import router from "../router";

<template>
    <div class="adminform">
        <nav class="navbar" style="background-color: #b3dfff;" >
        <div class="col-1 navbar-brand " @click="$router.go(-1)">
        <i class="fas fa-long-arrow-alt-left"></i>
       </div>
   </nav>
　 <div class="container">
   <div v-if="!matchcode">
       <p>招待コードを入力して下さい</p>
     <form @submit.prevent="addmenber"> 
     <input class="form-control" id="add-floor" type="text" v-model="code" placeholder="招待コード" >
     <b-button class="add_button" type="submit" style="background-color: #b3dfff;">送信</b-button>
       <p v-if="error" class="error">{{ errormessage }}</p>   
    </form>
     </div>
　 <div v-if="matchcode">
     <p class="signup_title" v-for="item in ryo">ようこそ！{{ item.buildname }}へ</p> 
     <div class="login_button">
      <div class="login_fb" @click="signInWithFacebook">
          <i class="fab fa-facebook" id="login_icon"></i>
          <span class="login_content">Facebookでログイン</span>
      </div>
       <router-link to="/m_signup">
         <div class="email_button">
         <i class="far fa-envelope" id="login_icon"></i>
          <span class="login_content">Emailでログイン</span>
      </div> 
       </router-link>
     </div>
   </div>
    </div>
    </div>
</template>
<script>
import firebase from "firebase";
var Syoutai = [];
var files;
var Filesname;
export default{
    name: "MenberSignup",
    data(){
        return {
            error:false,
            errormessage:"招待コードが違うようです",
            code:'',
            ryo:'',
            matchcode:false,
            imageData:''
        };
    },
    created: function() {
    this.database = firebase.database();
    this.Userinfo = this.database.ref('ryo/userinfo/');
    firebase.database().ref('ryo/ryoinfo').on('value',(snapshot) =>{
     this.ryoinfo = snapshot.val();
     for(var key in this.ryoinfo){
          var syoutai =  this.ryoinfo[key].code;
          Syoutai.push(syoutai);
        }
    });
    firebase.auth().onAuthStateChanged(user => {
      if(user){
        this.user = user;
        // this.$router.push("/m_signup");
      }else{
        this.user = {};
      }
    })
  
　  },
　  methods: {  
      addmenber:function(){
       for(var i = 0; i < Syoutai.length; i++){
       if(Syoutai[i] == this.code){
          this.error = false;  
          this.matchcode = true;
          var _this = this;
         firebase.database().ref('ryo/ryoinfo').orderByChild('code').startAt(this.code).endAt(this.code).on('value',function(snapshot) {
         var ryo = snapshot.val();
         _this.ryo = ryo;
        });
        this.$localStorage.set('code', this.code)
         }else{
　         this.error = true; 
         }
     }},
     signInWithFacebook: function(){
      var provider = new firebase.auth.FacebookAuthProvider();
      firebase
      .auth()
      .signInWithPopup(provider)
      .then(function(result) {
  // This gives you a Facebook Access Token. You can use it to access the Facebook API.
     var token = result.credential.accessToken;
  // The signed-in user info.
     this.user = result.user;

     firebase.auth().signInWithRedirect(provider);
  // ...
  this.$router.push("/m_signup");
}).catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  // The email of the user's account used.
  var email = error.email;
  // The firebase.auth.AuthCredential type that was used.
  var credential = error.credential;
  // ...
});
firebase.auth().getRedirectResult().then(function(result) {
  if (result.credential) {
    // This gives you a Facebook Access Token. You can use it to access the Facebook API.
    var token = result.credential.accessToken;
    // ...
  }
  // The signed-in user info.
  var user = result.user;
   this.$router.push("/");
}).catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  // The email of the user's account used.
  var email = error.email;
  // The firebase.auth.AuthCredential type that was used.
  var credential = error.credential;
  // ...
});
},
}
};

</script>  
<style>
.code{
    margin-top:40px;
}
#signin{
  margin:30px;
}
.email-form{
  margin:30px;
}
p{
  margin-top:30px;
  margin-bottom:0;
}
.signup_title{
 font-size: 20px;
}
/* .number_input{
    width:50px;
} */
.login_button{
 margin-top:40px;
}
.login_fb{
    font-size: 30px;
    background-color: #3B5998;
    color: white;
   border-radius: 5px;
}
.email_button{
    margin-top: 10px;
    font-size: 30px;
    background-color:#FF3300;
    color: white;
   border-radius: 5px;
}
.login_content{
  font-size: 20px;
  margin-left:5px; 
}
/* #login_icon{
 
} */
.error{
    color: crimson;
}
.number_input{
display: inline-block;
width:50px;
}
#floor{
 display: inline-block;
 width: 30%;
 margin-right: 10%;
}
#roomNo{
 width: 40%;
 display: inline-block;
}
.Floor_input{
  margin: auto;
}
.button_signup{
    margin-top: 1em;
}
.icon_img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
</style>