<template>
  <div class="task">
  <nav class="navbar" style="background-color: #b3dfff;">
  <router-link to="/">      
                <div class="col-1 navbar-brand ">
                  <i class="fas fa-long-arrow-alt-left"></i>
                </div>
    </router-link>
   </nav>
  <div class="container">
    <form class="form">  
      <div class="form-group">
    <div class="cal_show" @click="isShowndate = !isShowndate">
     <span style="font-size: 1.5em;">
     <i class="fas fa-calendar-alt"></i>
      </span>
     </div>   
     <div class="file_show">
     <label for="file" class="file-btn">
     <i class="far fa-file"></i>
    <input @change="selectedFile" type="file" id="file" />
   </label>
    </div>      
  <!-- <div class="who_input" v-if="!name">
     <span id="error" class="error_who" v-show="error_who">選択してください</span>
     <span v-for="name in ryoinfo">
       <span class="who_label"> To：<input type="checkbox" :checked="Select_All" @click="all_who"><span>ALL</span></span> 
       <span v-for="floor in name.floors"> 
          <li class="floor_new_input">
            <input type="checkbox" v-model="who" :value="floor" @change="input_who"><span>{{ floor }}階</span>
          </li>
       </span>
      </span>
   </div>   -->
  <div class="who_input" v-if="name"> {{ name }}</div>  
       <p id="error" class="error_title" v-show="error_title">タイトルが未入力です</p>
      <input type="text" v-model="title" class="form-control" id="title" placeholder="タイトル" @change="input_title"> 
       <div class="start" v-show="start">
          <hr>
     <p align="left">スタート：{{ date_start }}</p> 
     <p align="left">終わり：{{ date_end }}</p> 
     <hr>
     </div>
     <p class="input_signup">内容</p>
    <textarea name="detail" v-model="detail" class="form-control" id="Textarea1" rows="10"></textarea>  
    <div id="file_img" class="file_img_new" v-if="imageData != ''">
        <img id="new_img" :src="imageData" >
        <!-- <video :src="imageData"></video> -->
       </div>
        <div class="confirm_task" v-on:click="sendTodo()">
      <span style="font-size: 2em; color:black">
      <i class="far fa-share-square"></i>
      </span>
   </div>
  <div v-show="isShowndate">   
    <div class="syuzitu_button">
     <label align="left" for="start">終日？</label>
    <input type="checkbox" @change="syuzitu = !syuzitu">
    </div>   
   <div class="date"> 
      <div class="start">
       <label for="start">スタート</label>
      <input v-show="!syuzitu" type="datetime-local" v-model="date_start" id="start" class="form-control" @change="start = !start">
      <input v-show="syuzitu" type="date" v-model="date_start" id="start" class="form-control" @change="start = !start">
      </div>
      <div class="end">
     <label for="end">終わり</label>                
      <input v-show="!syuzitu" type="datetime-local" v-model="date_end" id="end" class="form-control" @change="start = !start">
      <input v-show="syuzitu" type="date" v-model="date_end" id="end" class="form-control" @change="start = !start">
    </div>
     </div>    
     </div>    
  <div class="file" v-show="isShownfile">     
   <div>   
      <label for="file" class="file-btn">
       <i class="fas fa-camera-retro"></i>
      ファイルを選択  
    <input @change="selectedFile" type="file" id="file" />
   </label>
</div>      
</div>

      </div>
  </form>
    </div>
</div>

</template>
<script>
// var app = {
//     initialize: function() {
//         this.bindEvents();
//     },
//     bindEvents: function() {
//         document.addEventListener('deviceready', this.onDeviceReady, false);
//     },
//     onDeviceReady: function() {
//         var button = document.getElementById("take_pictures");
//         button.addEventListener("click", takePictures);
//     }
// };
// app.initialize();

// 写真撮影ボタンを押した時に呼ばれる
import firebase from "firebase";
 var Scode;
 var floor_array;
 var files;
 var filesname;
export default {
  name: "NewTask",
  data() {
    return {
      database: null,
      isShowndate:false,
      isShownfile:false,
      title: "",
      detail:"",
      name:'',
      floor:[],
      who:[],
      imageData:'',
      date_start:'',
      date_end:'',
      ryoinfo:'',
      uploadFile:null,
      error_title:false,
      error_who:false,
      Select_All:false,
      name:'',
      syuzitu:'',
      };
  },
  created: function() {
    this.$localStorage.remove('filesname');
    this.database = firebase.database();
    this.uid = firebase.auth().currentUser.uid;
    var _this = this;
    firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val();
      Scode = item.code;                                     
    })
   firebase.database().ref('ryo/ryoinfo').orderByChild('code').startAt(Scode).endAt(Scode).on('value',function(snapshot) {
         var ryoinfo = snapshot.val();     
         _this.ryoinfo = ryoinfo;
    });
   this.name = this.$localStorage.get('name');
   var name = this.$localStorage.get('name');
   var current = new Date();
   },
  methods: {
    selectedFile:function(e){
      e.preventDefault();
      files = e.target.files[0];
      filesname = files.name;
      var storageRef = firebase.storage().ref();
      var uploadRef = storageRef.child(files.name);
     uploadRef.put(files).then(function(snapshot) {
       this.new_img = true;
       alert('アップロードできました'); 
    })
    var self = this;
    var file = e.target.files[0];
　  var reader = new FileReader();
   reader.onload = function(e) {
    self.imageData = e.target.result;
   };
   reader.readAsDataURL(file);
    },  
    input_title:function(){
       this.error_title = false;
    },
    input_who:function(){
      this.error_who = false;
    },
    all_who:function(){
      if(this.Select_All){
        this.Select_All = false;
        this.who = [];
      }else{
        // 選択された時
        this.Select_All = true;
        firebase.database().ref('ryo/ryoinfo').orderByChild('code').startAt(Scode).endAt(Scode).on('value',function(snapshot) {
         var ryoinfo = snapshot.val();     
         for(var i in ryoinfo){
            var ryou = ryoinfo[i];
            floor_array = ryou.floors;
         }
    });
      this.who = floor_array;
      }
    },
    sendTodo: function() {
      if(this.title == ''){
        this.error_title = true;
        return;
      }
      if(this.who == ''){
        this.error_who = true;
      }else{
         this.$localStorage.set('who', this.who)
      }
      this.$localStorage.set('title', this.title)
      this.$localStorage.set('detail', this.detail)
      this.$localStorage.set('code', Scode)
      this.$localStorage.set('start', this.date_start)
      this.$localStorage.set('end', this.date_end)
      this.$localStorage.set('filesname', filesname)
      this.$router.push("/confirm");  
    }
    }

}
</script>

<style>
.syuzitu_button{
 margin-right: 80%;
}
.who_label{
  float: left;
}
.container{
  margin: 10px;
  position: relative;
}
.floor_new_input{
  display: inline;
  margin-right: 0.5em;
  float: left;
}
.cal_show{
 position: absolute;
 top:5px;
 right:40px;
}
.file_show{
 position: absolute;
 top: -5px;
 right: 73px;
 padding: 0;
}
.file-btn{
  font-size: 1.5em;
  color:black;
  background-color:white;
   padding: 0;
}
.form{
 margin: 20px;
}
.date{
  max-width: 100%;
}
.file{
  margin-top: 1.5em;
}
.confirm_task{
 font-size: 1em;
 color: cornflowerblue;
 /* z-index: 10px; */
 /* position: absolute;
 top: 25em;
 right: 3em; */
 border-radius:50%;
 text-align: right; 
 margin-right:2em; 
}

/* .start{
  width:50%;
  display: inline-block;
  text-align: left;
}
.end{
  width:50%;
  display: inline-block;
  text-align: left;
} */
#error{
 color: crimson;
 margin: 0;
 font-size: 10px;
  text-align: left;
}
.who_input{
  height: 20px;
  margin-bottom: 1em;
}
.file_img_new{
  margin:auto;
  width: 80%;
  height: 80%;
}
#file_img{
 margin:1em;
}
.new_img{
  width: 70%;
  height: 70%;
}
#new_img{
  width: 70%;
  height: 70%;
}
</style>