<template>
<div class="task">
  <nav class="navbar" >
   <router-link to="/">      
      <div class="col-2 navbar-brand">
       <i class="fas fa-long-arrow-alt-left"></i>
     </div>
    </router-link>
      <div class="col-9 navbar-brand">   
      </div>
     </nav>
<!-- todoの一覧表示 -->
   <div class="container">
     <div v-show="!mytodos">
       <span  id="face_icon">
       <i class="far fa-meh"></i>
       </span>
       <p>
       あなたの連絡はありません
     </p>
     </div>
    <ul class="todolist" v-for="(todo, key) in mytodos" :key="todo.id">  
  <div>
  <ul> 
  <li class="titles" v-b-modal="'myModal' + key" variant="primary" >{{ todo.title }}</li>
  <hr>
  </ul>
  <!-- Modal Component -->
  <b-modal :id="'myModal' + key" title="あなたの連絡を読んだ人" ok-only="true">
    <p class="my-4">
      <div class="read">
      <p>既読の人</p>
      <p v-show="!todo.readuser">まだ誰も読んでいないようです</p>
      <p v-for="(time, user) in todo.readuser"> {{ user }} さんは、 {{ time }}に読みました</p> 
     </div>
     <div class="not-read">
     <p class="not-read-title">未読の人</p>
      <p v-for="(user) in todo.notRead">{{ user }}さん</p>
     </div>
     </p>
  </b-modal>
</div>
   </ul>
    </div>   
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
export default {
  name: "Task",
  data() {
    return {
      database: null,
      isShown:false,
      edit:true,
      mytodos:true,
    };
  },
  created: function() {
    this.database = firebase.database();
    this.uid = firebase.auth().currentUser.uid;
    var _this = this;
    // 自分が投稿した連絡のみを取得
    firebase.database().ref('todos').orderByChild('user').startAt(this.uid).endAt(this.uid).on('value',function(snapshot) {
        _this.mytodos = snapshot.val();     
    });  
},
};
</script>
<style>
.titles{
  text-align: left;
}
.todolist{
  position: relative;
}
.icon-content{
    font-size: 10px;
    display: block;
}
li {
    list-style: none;
    vertical-align: center;
}
.home-date{
 font-size: 10px;
  position: absolute;
  top:5px;
  right: 100px;
}
.home-title{
  font-size: 16px;
}
.home-detail{
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button{
  position: absolute;
  top:20px;
  right: 100px;
}
.times{
  margin-bottom: 20px;
}
.not-read{
 font-size: 10px;
}
.not-read-title{
 background-color: aquamarine;
}
.read{
 font-size: 10px; 
}
.not-read{
 font-size: 10px 
}
#face_icon{
  font-size: 100px
}
</style>