<template>
  <div class="task">
    <nav class="navbar">
   <router-link to="/">      
                <div class="col-1 navbar-brand ">
                    <i class="fas fa-times"></i>
                </div>
   </router-link>
   </nav>
  <div class="col-10 navbar-brand ">
     <input class="search" type="text" v-model="keyword" placeholder="検索...">
    </div>
 <div class="container">
    <div v-show="!searchitem">....該当する連絡がないようです</div> 
  <ul class="list_inner col-xs-12" v-for="todo in searchitem">  
  <li class="todolist">
     <router-link :to="{ name:'detailtask', params: { todo:todo[0] }}">  
    <img v-if="todo[1].image" id="user-icon" class="icon_img" :src="todo[1].image">
     <div class="username"> {{ todo[1].username }}</div>     
    <div class="home-date"> {{ todo[1].month }}月 {{ todo[1].day }} 日 </div>
      <div class="home-title"> {{ todo[1].title }} </div> 
      <div class="home-detail">{{ todo[1].detail }}</div>  
    </router-link> 
      </li>
      <hr>
    </ul>
  </div>  
</div>

</template>
<script>
import firebase from "firebase";
var userid;
var Scode;
var Username;
var Alltodo = [];
export default {
  name: "DetailTask",
  data(){
  return {
    keyword:'',
    matchtodos:[],
   }
 },
 created: function() {
   this.database = firebase.database();
   this.uid = firebase.auth().currentUser.uid;
　  var _this = this;
   firebase.database().ref('ryo/userinfo/' + this.uid ).once('value',function(snapshot) {
      var item =  snapshot.val();   
    // userinfoに入っているusernameをUsername
      Username = item.username;     
      Scode = item.code;  
     })
    // 招待コードを一致する連絡を取得
   firebase.database().ref('todos').orderByChild('code').startAt(Scode).endAt(Scode).on('value',function(snapshot) {
        Alltodo = snapshot.val();   
    });
 },
 computed:{
   searchitem:function(){
       var items = []; 
       return Object.entries(Alltodo).sort((a, b) => {
          let textA = a.tododate;
          let textB = b.tododate;
        return (textA < textB) ? 1 : (textA > textB) ? -1 : 0;
        });
       for(var i in Alltodo){
        //  if(Alltodo[i].title.indexOf(this.keyword) !== -1 || 
        //     Alltodo[i].username.indexOf(this.keyword) !== -1 || 
        //      Alltodo[i].detail.indexOf(this.keyword) !== -1)
              {
               items.push(Alltodo[i]);
         }
       }
       for(var i in Alltodo){
         if(Alltodo[i].title.indexOf(this.keyword) !== -1 || 
            Alltodo[i].username.indexOf(this.keyword) !== -1 || 
             Alltodo[i].detail.indexOf(this.keyword) !== -1) {
               items.push(Alltodo[i]);
         }
       }
  
     }
 } 
};
</script>

<style>
.search{
  border: solid skyblue;
  width: 100%;
}
</style>
