import router from "../router";

<template>
    <div class="adminform">
         <nav class="navbar" style="background-color: #b3dfff;">
  <router-link to="/">      
                <div class="col-1 navbar-brand">
                   <i class="fas fa-long-arrow-alt-left"></i>
                </div>
    </router-link>
   </nav>
 
　 <div class="container">
   <div>
     <p>ユーザー情報の再設定</p>
     <div class="file_button">
  <div class="icon_name">
    <span class="file_img_signin">
        <img class="icon_img" :src="imageData">
       </span>
  </div>
<label for="file" id="file-btn_setting" class="file-btn">
  <div>
 <i class="fas fa-image"></i>
  画像を変更する
  <input @change="selectedFile" type="file" id="file" />
  </div>
</label>
 </div>
     <p class="input_signup">変更後のユーザー名</p>
    <input type="text" class="form-control" placeholder="ユーザーネーム" v-model="username">
     <p class="input_signup">変更後のコース名</p>
    <input type="text" class="form-control" v-model="courseNm"  id="courseNm" placeholder="コース名">
      <!-- <p class="input_signup">変更後の部屋番号と階を入力してください </p>
     <div class="Floor_input">
       <input type="number" class="form-control" id="floor" v-model="floor" placeholder="○階" min="0" minlength="1" maxlength="2">
     <input type="number" class="form-control" min="0" id="roomNo" v-model="roomNo"  placeholder="○○○号室"> -->
     <!-- </div> -->
      <p class="input_signup">電話番号</p>
      <input type="number" v-model="telNo"  class="form-control" id="telNo" placeholder="電話番号" max="11">     
      <b-button class="button_signup" variant="primary" @click="info_change">変更</b-button>    
   <p>
     <b-button class="button_signup" variant="primary"  @click="isShown = !isShown">パスワードの変更はこちら</b-button>  
      <div v-show="isShown">
       <p align="left" class="pw_input">変更したいパスワードを入力してください</p>
    <p v-show="error_pw" align="left" class="error_pw">確認用のパスワードが違うようです...</p>
    <input class="form-control" type="password" placeholder="Password" v-model="password">
    <p align="left" class="pw_input">確認のためもう一度入力してください</p>
    <input class="form-control" type="password" placeholder="Password" v-model="confirm_password">
      <b-button class="button_signup" variant="primary" @click="pw_change">変更</b-button>  
      </div>
     </div>
    </div>
    </div>
</template>

<script>
import firebase from "firebase";
var Course_Nm;
var Username;
// var Floor;
// var RoomNo;
var TelNo;
var Filesname;
var Image;
var Image_url;
export default{
    name: "MenberSignup",
    data(){
        return {
            isShown:false,
            password: "",
            confirm_password:"",
            error_pw:false,
            courseNm:'',
            username:'',
            floor:'',
            roomNo:'',
            telNo:'',
            imageData:''
        };
    },
    created: function() {
    this.database = firebase.database();
    this.uid = firebase.auth().currentUser.uid;
    var pre_Username;
    firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val();
      Username = item.username;
      Course_Nm = item.courseNm;    
    //   Floor = item.floor;
    //   RoomNo = item.roomNo;
      TelNo = item.telNo;
      Filesname = item.filesname;
       })
    this.username = Username;
    this.courseNm = Course_Nm;    
    this.telNo = TelNo;
    var storageRef = firebase.storage().ref();
    var uploadRef = storageRef.child(Filesname);
    uploadRef.getDownloadURL().then((url) => {
    //  firestoreからURLを取得
    Image = url;
    })
   .catch(error => {
     Image = Icon_image;
   });
  //  .catch(error => {
  //    Image = Icon_image;
  //  });
    console.log(Image);
    var self = this;
    uploadRef.getDownloadURL().then((url) => {
     self.imageData = url;
     Image = url;
     console.log(Image);
     Image_url = Image;
　   });
   console.log(Image_url);
    },
　  methods: {
      selectedFile: function(e){
      e.preventDefault();
      var files = e.target.files[0];
      Filesname = files.name;
      var storageRef = firebase.storage().ref();
      var uploadRef = storageRef.child(files.name);
     uploadRef.put(files).then(function(snapshot) {
       alert('アップロードできました'); 
    })
    var self = this;
    var file = e.target.files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
      self.imageData = e.target.result;
     };
    reader.readAsDataURL(file);
    var storageRef = firebase.storage().ref();
      var uploadRef = storageRef.child(Filesname);
      uploadRef.getDownloadURL().then((url) => {
       //  firestoreからURLを取得
       Image = url;
       })
    },  
       pw_change: function () {
         var user = firebase.auth().currentUser;
         if(this.confirm_password == this.password){
           var newPassword = this.password;
        }else{
            this.error_pw = true;
        }
         user.updatePassword(newPassword).then(function() {

         }).catch(function(error) {
            alert(error.message);
         });   
       },
       info_change:function(){
      var username = this.username;
      firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val(); 
      var pre_Username = item.username;
      firebase.database().ref('message').orderByChild('name').startAt(pre_Username).endAt(pre_Username).on('value',function(snapshot) {
      var Mymessage = snapshot.val();  
      for(var i in Mymessage){
　      var My_message = firebase.database().ref('message/'+ i );
         My_message.update({
          name:username,
          image:Image,
        })
         } 
       });
       });
      var database = this.database;
      database.ref('todos').orderByChild('user').startAt(this.uid).endAt(this.uid).on('value',function(snapshot) {
      var mytodo = snapshot.val();  
      for(var i in mytodo){
　      var My_todos = database.ref('todos/'+ i );
         My_todos.update({
           username:username,
           image:Image,
        })
         } 
       });
       this.Userinfo = this.database.ref('ryo/userinfo/' + this.uid);
        this.Userinfo.update({
                username:this.username,
                // floor:this.floor,
                // roomNo:this.roomNo,
                courseNm:this.courseNm,
                telNo:this.telNo,
                filesname:Filesname
            });
             this.$router.push("/");
         }


       }
};

</script>  
<style>
#file-btn_setting{
  padding: 0;
  margin-left:1em;
}
.code{
    margin-top:40px;
}
#signin{
  margin:30px;
}
.email-form{
  margin:30px;
}
.file_button{
  display: inline-flex;
}
.error_pw{
    color: firebrick;
}
p{
  margin-top:30px;
  margin-bottom:0;
}
/* .number_input{
    width:50px;
} */
.error{
    color: crimson;
}
.number_input{
display: inline-block;
width:50px;
}
#floor{
 display: inline-block;
 width: 30%;
 margin-right: 10%;
}
#roomNo{
 width: 40%;
 display: inline-block;
}
.Floor_input{
  margin: auto;
}
.button_signup{
    margin-top: 1em;
}
</style>