<template>
  <div id="signin">
    <h2>ようこそ~寮母さんへ</h2>
    <div class="email-form">  
    <input class="form-control" type="email" placeholder="Email" v-model="email">
    <p align="left" class="pw_input"></p>
    <input class="form-control" type="password" placeholder="Password" v-model="password">
    </div>
      <div class="login_sign_button" @click="signIn">
          <span class="login_content">ログイン</span>
      </div>
      <div id="login_sign_fb" class="login_sign_fb" @click="signInWithFacebook">
          <i class="fab fa-facebook" id="login_icon"></i>
          <span class="login_content">Facebookでログイン</span>
      </div>
    <!-- <div class="google" @click="signInWithGoogle">
      <span class="fab fa-google"></span>
      <span class="icon-content">Googleアカウントでログイン</span>
    </div> -->
    　<p class="sign_p">▼アカウントをお持ちではない方▼</p>
      <router-link to="/AdminSignup"><p>寮母として新規作成</p></router-link>
      <router-link to="/MenberSignup"><p>メンバーとして新規作成</p></router-link>
    </p>
  </div>
</template>

<script>
import firebase from "firebase"; 

export default {
  name: "Signin",
  data() {
    return {
      database:null,
      uid:null,
      email: "",
      password: "",
      ryoinfo:'',
    };
  },
  created: function() {
    this.database = firebase.database();
    firebase.auth().onAuthStateChanged(user => {
      if(user){
        this.user = user;
        //  this.$router.push("/");
      }else{
        this.user = {};
      }
    })
  },
  methods: {
    // ログインボタンの処理
    signIn: function() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(user => { 
          this.$router.push("/");
        })
        .catch(error => {
          // ログインに失敗した場合
          window.navigator.notification.alert(
          'ユーザーIDまたはパスワードが違います',
          function() {
            console.log('「オッケー」ボタン押下後のコールバック関数');
          },
          // タイトル
          '認証エラー',
          // ボタン
          'OK'
        );
        }); 
    },
    signInWithFacebook: function(){
      var provider = new firebase.auth.FacebookAuthProvider();
      firebase
      .auth()
      .signInWithPopup(provider)
      .then(function(result) {
  // This gives you a Facebook Access Token. You can use it to access the Facebook API.
     var token = result.credential.accessToken;
  // The signed-in user info.
  this.user = result.user;
  firebase.auth().signInWithRedirect(provider);
  this.$router.push("/");
  // ...
}).catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  // The email of the user's account used.
  var email = error.email;
  // The firebase.auth.AuthCredential type that was used.
  var credential = error.credential;
  // ...
});
firebase.auth().getRedirectResult().then(function(result) {
  if (result.credential) {
    // This gives you a Facebook Access Token. You can use it to access the Facebook API.
    var token = result.credential.accessToken;
    // ...
  }
  // The signed-in user info.
  var user = result.user;
  
}).catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  // The email of the user's account used.
  var email = error.email;
  // The firebase.auth.AuthCredential type that was used.
  var credential = error.credential;
  // ...
});
}
}}
</script>
<style>
#signin{
  margin:30px;
}
/* .signin_button{
  margin: 30px;
  background-color: aquamarine;
} */
.signin_content{
   height: 20px;
}
.login_sign_button{
   font-size: 25px;
   margin:auto;
   background-color: aquamarine;
   color: white;
   border-radius: 5px;
   width: 80%;
}
.login_sign_fb{
   font-size: 25px;
   margin:auto;
   background-color: #3B5998;
   color: white;
   border-radius: 5px;
   width: 80%;
}
#login_sign_fb{
  margin-top: 10px;
}
.input_email{
  border: 2px solid lightblue;
  width: 70%;
  margin:auto;
}
.input_pw{
  border: 2px solid lightblue;
  width: 70%;
  margin:auto;
}
.email-form{
  margin:auto;
}
p{
  margin:30px;
}
.sign_p{
  margin-top:1em; 
}
.google{
  margin-top:30px;
}
.fa-google{
  font-size:50px;
  color:red;
}
</style>