import router from "../router";

<template>
    <div class="signup">
    <h2>サインアップ</h2>
    <div class="form">
    <div class="email-form">
    <input type="email" placeholder="email" v-model="email">
    </div>
    <div class="password-form">
    <input type="password" placeholder="password" v-model="password">
    </div>
    </div>
      <button @click="signUp">登録</button> 
      <p>
      <router-link to="/signin">sign in now</router-link>
      </p>
    </div>
</template>

<script>
import firebase from "firebase";

export default{
    name: "Signup",
    data(){
        return {
            username:"",
            email: "",
            password: ""
        };
    },
    methods: {
       signUp: function () {
           firebase
           .auth()
           .createUserAndRetrieveDataWithEmailAndPassword(
               this.email,
               this.password
            )
            .then(user => {
                alert("Create account: ", user.email);
            })
            .catch(error => {
                alert(error.message);
            });
       }
    }
};

</script>  
<style>
#signin{
  margin:30px;
}
.email-form{
  margin:30px;
}
p{
  margin-top:30px;
}
</style>