<template>
  <div class="soyutaipage">
    <nav class="navbar" style="background-color: #b3dfff;">
  <router-link to="/">      
                <div class="col-1 navbar-brand ">
                    <i class="fas fa-times"></i>
                </div>
    </router-link>
   </nav>
     <h2>寮生を招待しましょう</h2>
     <div class="container">
     <div class="Code">  
     <!-- <button @click="isShown = !isShown">招待コードを表示する</button> -->
     <button class="share" @click="share_ryou">共有</button>
     
      <!-- <transition>
      <div v-show="isShown">
       <div v-for="syoutai in ryoinfo">
         <p>{{ syoutai.code　}}</p>
       </div>
     </div>
     </transition>
     </div> -->
      <!-- <div class="mail"> 
      <button @click="isShown = !isShown">招待する{{this.code}}</button>
      <transition>
        <div v-show="isShown">
          <p>こちらから</p>
          <button @click="sendmail">メール送信</button>
      </div>
      </transition>
      
      </div>  -->
    </div> 
   </div>    
  </div>
</template>
<script>
import firebase from "firebase";
var syoutaicode;
export default {
  name: "syoutai",
  data() {
    return {
      ryoinfo:'',
      code:'',
      isShown:false,  
    };
  },
  created: function() {
    this.database = firebase.database();
    this.uid = firebase.auth().currentUser.uid;
    var _this = this;
    firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val(); 
      // 画像のファイル名を取得      
      var code = item.code;
      _this.code = item.code;
      syoutaicode = item.code;
   });
  },
   methods: {
     share_ryou:function(){
      var options = {
       message: syoutaicode, // not supported on some apps (Facebook, Instagram)
      //  subject: 'the subject', // fi. for email
       url: 'https://www.website.com/foo/#bar?a=b',
     };

// var onSuccess = function(result) {
//   console.log("Share completed? " + result.completed); // On Android apps mostly return false even while it's true
//   console.log("Shared to app: " + result.app); // On Android result.app since plugin version 5.4.0 this is no longer empty. On iOS it's empty when sharing is cancelled (result.completed=false)
// };

// var onError = function(msg) {
//   console.log("Sharing failed with message: " + msg);
// };

window.plugins.socialsharing.shareWithOptions(options);

     },
    sendmail:function(){ 
// 　    firebase.database().ref('ryo/ryoinfo').on('value',(snapshot) =>{
//       this.ryoinfo = snapshot.val();
//       // ryoinfoから招待コードを取得する
//       for(var key in this.ryoinfo){
//         var shoutaicode = this.ryoinfo[key].code;         
//         console.log(shoutaicode);
//     } 
//       // アドレス、件名、本文の変数
//     　 var address, subject, body;
      
//       subject = '';
//       body = '招待コードは' + shoutaicode;
//       location.href = 'mailto:' + '?subject=' + subject + '&body=' + body;   
//     });
    }
    }
   
};
</script>
<style>
.Code{
  margin-bottom: 50px;
}
.share{
  margin-left:2em;
  font-size:30px;
}
</style>