<template>
<div class="task">
 <nav class="navbar" style="background-color: #b3dfff;">
         <div class="col-xs-1 navbar-brand text-right" @click="isShown = !isShown">
                <span class="fas fa-bars"></span>
           </div>
               <span class="col-xs-10 navbar-brand">
                
                </span>
        <router-link to="/search" >
            <div class="col-xs-1 navbar-brand text-right">
              <i class="fas fa-search"></i>
           </div>
        </router-link>
        <div id="footer" class="navbar fixed-bottom" style="background-color: #c8e5fa;">
                    <div class="col-2 navbar-brand">
                        <span class="fas fa-home"></span>
                    </div>
                <router-link to="/home">
                    <div class="col-7 text-center navbar-brand">
                        <span class="get_message">
                          {{ messagecount }}
                        </span>
                        <span class="fas fa-bell"></span>
                    </div>
                </router-link>
                <router-link to="/calendar">
                <div class="col-1 navbar-brand ">
                    <span class="fas fa-calendar-alt"></span>
                </div>
                </router-link>
                 <router-link to="/newtask" class="new_task">
    <i class="fas fa-pen-square"></i>
       </router-link>
        </div>
    </nav>
   <!-- サイドメニューの  表示 -->
  <transition>
  <div v-show="isShown"> 
　 <div class="menu"> 
   <div class="times" @click="isShown = !isShown">
   <i class="fas fa-times"></i>
  </div>  
  <nav>   
    <ul>
     <router-link to="/renraku">
      <li>連絡確認<hr></li>
     </router-link>
     <router-link to="/gaihaku">
      <li v-show="!admin">外泊届を出す<hr></li>
     </router-link>
      <li v-show="admin" @click="share_ryouinfo">寮生を招待する<hr></li>
     <router-link to="/gaihakucalendar">
      <li v-show="admin">外泊カレンダー<hr></li>
     </router-link>
     <router-link to="/MemberSearch">
      <li v-show="admin">寮生にメッセージ<hr></li>
     </router-link>
     <router-link to="/Setting">
      <li>設定<hr></li>
     </router-link>
      <li class="">
        <button @click="Signout">ログアウト</button>
       </li><hr>
     </ul>
  </nav>
 </div>
</div>
</transition>
<!-- todoの一覧表示 -->
<div class="container">
<ul class="list_inner col-xs-12" v-for="todo in searchitem">  
  <li class="todolist">
     <router-link :to="{ name:'detailtask', params: { todo:todo[0] }}">  
    <img v-if="todo[1].image" id="user-icon" class="icon_img" :src="todo[1].image">
     <div class="username"> {{ todo[1].username }}</div>     
    <div class="home-date"> {{ todo[1].month }}月 {{ todo[1].day }} 日 </div>
      <div class="home-title"> {{ todo[1].title }} </div> 
      <div class="home-detail">{{ todo[1].detail }}</div>  
    </router-link> 
      </li>
      <hr>
    </ul>
    </div>  
    </div>
  </div>
</template>
<script>
import firebase,{ database } from "firebase";
var syoutaicode;
export default {
  name: "Task",
  data() {
    return {
      isShown:false,
      matchtodos:[],
      item:'',
      admin:'',
      ryoubo:true,
      image_url:'',
      user:'',
      messagecount:'',
    };
  },
  created: function() {
    this.$localStorage.remove('title');
    this.$localStorage.remove('detail');
    this.$localStorage.remove('who');
    this.$localStorage.remove('date_start');
    this.$localStorage.remove('date_end');
    this.$localStorage.remove('filesname');
    this.$localStorage.remove('name');
    this.database = firebase.database();
    this.uid = firebase.auth().currentUser.uid;
    // console.log(this.uid);
    var _this = this;
   //  寮母としてログイン
  firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val();    
      _this.admin = item.admin; 
      var Admin = item.admin; 
   })
  // メンバーとしてログイン
  //   ユーザーの招待コードを取得してScode
  firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val();
      var Syoutaicode = item.code;  
      syoutaicode = item.code;  
      // ユーザーのアイコンのファイル
   firebase.database().ref('todos').orderByChild('code').startAt(Syoutaicode).endAt(Syoutaicode).on('value',function(snapshot) {
         _this.matchtodos = snapshot.val();   
    });                       
    })
   firebase.database().ref('ryo/userinfo/' + this.uid ).on('value',function(snapshot) {
      var item =  snapshot.val();
      var username;
      username = item.username;  
      // ユーザーのアイコンのファイル
       var count = 0;
    firebase.database().ref('message').orderByChild('notRead').startAt(username).endAt(username).on('value',function(snapshot) {
      var t = snapshot.val();   
      for(var i in t) {
        count+= 1;
      }
      _this.messagecount = count;
    });                       
    })
    //  console.log(this.count);
      
      // this.todosRef = this.database.ref('todos');
},
computed:{
     searchitem:function() {
       return Object.entries(this.matchtodos).sort((a, b) => {
          let textA = a[1].tododate;
          let textB = b[1].tododate;
        return (textA < textB) ? 1 : (textA > textB) ? -1 : 0;
        });
     }},
  methods: {
    Signout:function(){
      firebase.auth().signOut().then(user => {
      this.$router.push("/signin");
    });    
  },
  share_ryouinfo:function(){
      var options = {
       message:　'あなたの寮の招待コードは' + syoutaicode　+ 'です', // not supported on some apps (Facebook, Instagram)
       subject: '寮母さんからの連絡です', // fi. for email
       url: 'https://www.website.com/foo/#bar?a=b',
     };
    window.plugins.socialsharing.shareWithOptions(options); 
  }}
};
</script>
<style>
/* gereral */
li {
    list-style: none;
    vertical-align: center;
}
li > a{
    color: black;
    text-decoration: none;
}
a{
 color: black; 
 
}
/* menu */
.icon-content{
    font-size: 10px;
    display: block;
}
.times{
  margin-bottom: 20px;
}
.menu{
  position: fixed;
  z-index: 10;
  background-color:white;
  top: 0;
  left: -50px; 
  width: 300px; /* メニューのwidth */
  height: 100%;
  padding: 20px;
}
/* todolist */
.container{
  max-width: 100%;
}
.todolist{
  width: 98%;
   position: relative;
   color:black;
}
.list_inner{
  max-width: 95%;
}
#user-icon{
  position: absolute;
  top:0px;
  left: -30px;
  font-size: 40px;
  margin-bottom: 10px;
}
.username{
  text-align: left;
  margin:0 20px;
}
.home-date{
  position: absolute;
  top:-10px;
  right: 0;
 font-size: 10px;
 float: right;
}
.home-title{
  font-size: 7px;
  text-align: left;
  margin:0 20px;
}
.home-detail{
  overflow: hidden;
  font-size: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin:0 20px;
  text-align: left;
}
.navbar{
  height: 3em;
}
.todo-title{
 vertical-align:middle;
 display:table-cell;    
}
.footer{
position: relative;
}
.new_task{
 font-size: 3.5em;
 color: cornflowerblue;
 z-index: 10px;
 position: absolute;
 top: -2em;
 right: 0.5em;
 border-radius:50%; 
}
.get_message{
  background-color:red;
  border-radius: 50%;
}
/* .icon_img{
    border-radius: 50%;
    width: 40px;
    height: 40px;

} */
</style>