<template>
  <div id="signin">
    <i class="fas fa-hotel"></i>
    <h2>寮母</h2>
    <b-button class="login_button">Emailでログインする</b-button>
  </div>
</template>

<script>
import firebase from "firebase"; 
export default {
  name: "Signin",
  data() {
    return {
    };
  },
};
</script>
<style>
#signin{
  margin:30px;
}
.signin_button{
  margin: 30px;
}
.input_email{
  border: 2px solid lightblue;
  width: 70%;
  margin:auto;
}
.input_pw{
  border: 2px solid lightblue;
  width: 70%;
  margin:auto;
}
.email-form{
  margin:auto;
}
p{
  margin:30px;
}
.google{
  margin-top:30px;
}
.fa-google{
  font-size:50px;
  color:red;
}
</style>